@import "styles.css";
@font-face {
  font-family: pirate;
  src: url(./Blackpearl-vPxA.ttf);
}
body {
  background-color: rgb(21, 96, 14);
}

.opn {
  text-align: center;
  color: white;
  font-family: pirate;
  font-size: 4vw;
  font-size: 5vw;
}

.btn {
  width: 10vw;
  height: 2.5vw;
  font-family: pirate;
  font-size: 1.5vw;
  border-radius: 1vw;
  background-color: rgba(111, 49, 23, 0.963);
  color: white;
  border: 0.2vw black solid;
}

.btn1 {
  width: 13vw;
  height: 5vw;
  font-family: pirate;
  font-size: 2vw;
  border-radius: 1vw;
  background-color: rgba(111, 49, 23, 0.963);
  color: white;
  border: 0.2vw black solid;
}

.ply {
  text-align: center;
  margin-top: 7vw;
}

.txt-bx {
  border-radius: 0.5vw;
  font-family: pirate;
  border: 0.2vw black solid;
  width: 10vw;
  height: 2vw;
}

.div {
  text-align: center;
}

body {
  background-color: rgb(21, 96, 14);
}

.inp {
  border-radius: 0.5vw;
  font-family: pirate;
  border: 0.2vw black solid;
  height: 2vw;
}

.sbtn {
  background-color: rgba(111, 49, 23, 0.963);
  font-family: pirate;
  color: white;
  border-radius: 1vw;
  height: 3vw;
  width: 10vw;
  border: 0.2vw black solid;
}

.frm {
  text-align: center;
}

.wlcm {
  font-family: pirate;
  color: white;
  font-size: 3.5vw;
  text-align: center;
}

body {
  background-color: rgb(21, 96, 14);
}

.strt {
  color: white;
  font-family: pirate;
  font-size: 5vw;
  text-align: center;
}

.end {
  font-family: pirate;
  color: white;
  text-align: center;
}

.ply1 {
  background-color: rgba(111, 49, 23, 0.963);
  font-family: pirate;
  color: white;
  height: 5vw;
  width: 15vw;
  border: 0.2vw black solid;
  border-radius: 1vw;
  text-align: center;
  font-size: 2vw;
}

.btn-div {
  text-align: center;
}

.bdy {
  background-color: rgb(21, 96, 14);
}

.a {
  text-align: center;
  margin-top: 20vw;
}

.b {
  background-color: rgba(111, 49, 23, 0.963);
  font-family: pirate;
  color: white;
  height: 5vw;
  width: 15vw;
  border: 0.2vw black solid;
  border-radius: 1vw;
  text-align: center;
  font-size: 2vw;
}

.bdy2 {
  background-color: rgb(21, 96, 14);
}

.hit {
  background-color: red;
  height: 13.5vw;
  width: 13.5vw;
  border-radius: 1vw;
  color: white;
  font-family: pirate;
  font-family: 2vw;
  border: 0.2vw black solid;
}

.stand {
  background-color: blue;
  height: 13.5vw;
  width: 13.5vw;
  border-radius: 1vw;
  color: white;
  font-family: pirate;
  font-family: 2vw;
  border: 0.2vw black solid;
}

.dlr {
  float: right;
}

.btns {
  text-align: center;
  margin-top: 1rem;
}

.tag {
  float: right;
}

.col {
  color: white;
  font-family: pirate;
  font-size: 2vw;
  margin-left: 0rem;
}

.rt {
  color: white;
  font-family: pirate;
  font-size: 5vw;
  text-align: center;
}

.rtr {
  background-color: rgba(111, 49, 23, 0.963);
  font-family: pirate;
  color: white;
  height: 5vw;
  width: 15vw;
  border: 0.2vw black solid;
  border-radius: 1vw;
  text-align: center;
  font-size: 1vw;
  text-align: center;
}

.al {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */